BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 90
NamespaceIndentation: All
IndentAccessModifiers: false
AccessModifierOffset: -4
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeParens: Never
